.head{
    text-align:start;
}
.AuthorInformation{
    display:flex;
    align-items:start;
    gap:20px;
    text-align:start;
}
.cap{
    grid-area:cap;
    text-align:start;
    color:blue;
}
.container{
    display:grid;
    grid-template-areas: 'cap rc rc rc rc rc rc rc rc rc rc rc';
}